@model ProjetoAspNetMVC01.Presentation.Models.TarefasRelatorioModel

@{
    ViewData["Title"] = "Relatorio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Relatório de tarefas</h5>
<p>
    Relatório de tarefas para exportação.
</p>

@using (Html.BeginForm())
{
    <p>
        Selecione o período de datas desejado e o formato do relatório:
    </p>

    <div class="row">
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.DataMin, new { @class = "form-control", @type = "date" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.DataMin)
            </span>
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.DataMax, new { @class = "form-control", @type = "date" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.DataMax)
            </span>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-3">
            @Html.RadioButtonFor(model => model.Formato, "PDF") <label>Relatório em formato PDF</label><br />
            @Html.RadioButtonFor(model => model.Formato, "EXCEL") <label>Relatório em formato EXCEL</label>
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Formato)
            </span>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-3">
            <input type="submit" value="Gerar Relatório" class="btn btn-success" />
        </div>
    </div>
}





